.navbar {
  font-family: 'Playfair Display', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;

  &__logo {
    height: 100px;
    width: auto;
    margin: 2em 0;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 600px;
    min-width: 400px;
    background: #fff;
    border-radius: 1em;
    padding: 0.5em 3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }

  &__link {
    text-decoration: none;
    color: #000;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #f26a2e;
    }
  }

  &__link--active {
    font-weight: bold;
  }

  &__tree {
    position: absolute;
    opacity: 0.2;
    top: -13%;
    left: 34%;
    user-select: none;
    pointer-events: none;
    z-index: -1;
  }
}
