.footer {
  background-color: white;
  padding: 20px;
  text-align: center;

  // All a 
  & a {
    color: #000;
    text-decoration: none;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: #f26a2e;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  &__logo {
    height: 40px;
    width: auto;
  }
}

@media (max-width: 1050px) {
  .footer {
    &__content {
      flex-direction: column;
    }

    &__left {
      width: 100%;
      flex-direction: column;
    }
  }
}