.footer {
  background-color: white;
  padding: 20px;
  text-align: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 600px;
    min-width: 400px;
  }

  &__logo {
    height: 40px;
    width: auto;
  }
}
